{% load static %}
<!DOCTYPE html>

<html>

    <head>
            
            <meta charset="UTF-8">
    
            <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    
            <title>TaskCreator</title>
    
            <!-- Bootstrap CSS -->
    
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    
            <!-- Your custom CSS -->
    
            <link rel="stylesheet" href="{% static 'login.css' %}"/>
    </head>

</html>